<!DOCTYPE html>
<!--
  Original CSS

	Striped by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)

  Templating structure by David Bebb github.com/davidbebb

-->
<html lang="en">

    <%- include header %>

    <body>
        <div id="content">
            <div class="inner">

                <% if (typeof posts != 'undefined') {%>
                  <%- include post %>
                <%} %>

                <% if (typeof about != 'undefined') {%>
                  <%- include about %>
                <%} %>

                <% if (typeof projects != 'undefined') {%>
                  <%- include projects %>
                <%} %>

            </div>
            <%- include pagination %>
        </div>
        <%- include sidebar %>
    </body>

    <%- include scripts %>

</html>
