<!-- Post -->

<%var moment = lib.moment%>

<% for (var n in posts) {%>
    <%var p = posts[n]%>
    <article class="box post post-excerpt" id = "<%=p.header.title.replace(/[^a-zA-Z0-9]+/g, '').toLowerCase()%>">

        <header>
            <h2><%-p.header.title%></h2>
            <p><%-p.header.subheader%></p>
        </header>

        <div class="info">
            <span class="date">
              <span class="month"><%=moment(p.date).format('MMM')%>
                <span>
                  <%=moment(p.date).format('MMMM').replace(moment(p.date).format('MMM'), '')%>
                </span>
              </span>
              <span class="day"><%=moment(p.date).format('DD')%></span>
              <span class="year">, <%=moment(p.date).format('YYYY')%></span>
            </span>
        </div>
        <% if (p.image) {%>
          <span class="image featured"><img src=<%=p.image.src%> alt = "<%=p.image.alt%>" /></span>
        <%}%>
        <% for (var pa of p.body) {%>
          <p><%-pa%></p>
        <%}%>
        <a data-scroll href="#" class="button">Top</a>

    </article>

<%}%>
