<!-- Sidebar -->
  <div id="sidebar">

    <!-- Logo -->
      <h1 id="logo"><a href="#"><%=sidebar.title%></a></h1>



    <!-- Nav -->
      <nav id="nav">
        <ul>
          <%sidebar.pages.forEach(function (p){%>
            <li<% if (p.class) { %><%= ' class = ' +  p.class %><% } %>>
              <a href= <%=p.href%> ><%=p.title%></a>
            </li>
          <%})%>

        </ul>
      </nav>

    <!-- Recent Posts -->
    <% if (sidebar.recent){ %>
      <section class="box recent-posts">
        <header>
          <h2>Recent</h2>
        </header>
        <ul>
          <%sidebar.recent.forEach(function (r){%>
            <li><a href= <%=r.href%> ><%=r.title%></li>
          <%})%>
        </ul>
      </section>
    <%}%>

    <!-- Text -->
      <section class="box text-style1">
        <div class="inner">
          <p class= 'centered'>
            <strong>David Bebb</strong>
          </p>
          <div class= 'centered'>
            <img  id = 'about-image'  src="https://avatars2.githubusercontent.com/u/10740756?v=3&s=60" alt = "" />
          </div>
            <ul>
              <li>Software developer</li>
              <li>Science Communicator</li>
              <li>Maker</li>
            </ul>
          <p>
            Based in Cambridge, UK
          </p>
          <ul class="stats">
            <li><a href="https://github.com/davidbebb" class="icon fa-github"> &nbsp; /davidbebb</a></li>
            <!-- <li><a href="https://twitter.com/davidbebb" class="icon fa-twitter">&nbsp; /davidbebb</a></li> -->
            <li><a href="mailto:web@davidbebb.co.uk" class="icon fa-envelope">&nbsp; davidbebb.co.uk</a></li>
          </ul>
        </div>
      </section>

    <!-- Copyright -->
      <ul id="copyright">
        <li>&copy; <%=sidebar.copyright%></li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
      </ul>

  </div>
